{% extends "base.html" %}

{% block body %}
    <h2>Sales Invoice</h2>
    <table class="table">
        <thead>
            <tr>
                <th width="100">Sales Invoice Number</th>
                <th width="100">Customer</th>
                <th width="100">Item</th>
                <th width="100">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                {% for sales_invoice in object_list %}
                    <tr>
                        <td>{{ sales_invoice.no }}</td>
                        <td>{{ sales_invoice.supplier.name }}</td>
                        <td>{{ sales_invoice.item.name }}</td>
                        <td>{{ sales_invoice.quantity }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td span="4">No more entries</td></tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}