<!DOCTYPE html>
{% load static %}
{% load staticfiles %} 

<html>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <title>{% block title %}Inventory System{% endblock %}</title>
        
        {% block css %}{% endblock %}

        {% block js_up %}{% endblock %}
    </head>

    <body>
        <ul>
            <li><a href="/">View Items</a></li>
            <li><a href="/reorder_items">View Items for Reorder</a></li>
            <li><a href="/customers">View Customers</a></li>
            <li><a href="/suppliers">View Suppliers</a></li>
            <li><a href="/new_purchase_order">Create Purchase Order</a></li>
            <li><a href="/new_sales_invoice">Create Sales Invoice</a></li>
        </ul>

        <div id="container">
            <div id="content">{% block body %}{% endblock %}</div>
        </div>
    </body>

    {% block js_bottom %}{% endblock %}
</html>